// COLORS V3
$color-lightBlue:               #1e8bc6
$color-electroBlue:             #1EBCF6
$color-midBlue:                 #2B3A4E
$color-darkBlue:                #21272E
$color-green:                   #27AD8D
$color-red:                     #AD1A26
$color-orange:                  #FF8B3A
$color-yellow:                  #FFCC44
$color-grey:                    #666666
$color-purple:                  #B86CFF

$color-white:                   #ffffff
$color-white70:                 rgba($color-white, 0.7)
$color-white80:                 rgba($color-white, 0.8)

$color-whiteGrey:               #f1f1f1
$color-whiteGrey30:             rgba($color-whiteGrey, 0.3)
$color-whiteGrey40:             rgba($color-whiteGrey, 0.4)
$color-whiteGrey50:             rgba($color-whiteGrey, 0.5)
$color-whiteGrey80:             rgba($color-whiteGrey, 0.8)

$color-shatterGrey:             #F3F3F3
$color-shatterGrey20:           rgba($color-shatterGrey, 0.2)
$color-shatterGrey30:           rgba($color-shatterGrey, 0.3)
$color-shatterGrey40:           rgba($color-shatterGrey, 0.4)
$color-shatterGrey80:           rgba($color-shatterGrey, 0.8)
$color-shatterGrey95:           rgba($color-shatterGrey, 0.95)

$color-smoothGrey20:            #DADADA
$color-smoothGrey30:            #C6C7C8

$color-midGrey:                 #434343
$color-lightGrey:               #878888
$color-darkGrey:                #333
$color-black:                   #111111

// Layout colors
$color-subject:                 $color-lightBlue
$modal-background-color:        #FCFCFC
$pageBackgroundColor:           #FAFAFA

// Navigation
$color-navigationBackground:   #3c3a3f
$color-navigationBorder:       $color-midGrey
$color-navigationLightBorder:  $color-lightGrey
$color-navigationFont:         $color-whiteGrey

// Task colors
$color-task:                    #fff48c
$color-task-selected:           #DAE2E6
$color-yellow-lightened:        #fffbd9
$color-card-background:         #F9F9F9

// Role colors
$color-role-officer:            $color-lightBlue
$color-role-member:             $color-lightBlue
$color-role-follower:           #999
$color-role-none:               #999

// Fonts size
$font-size-00:                  1px
$font-size-01:                  7px
$font-size-02:                  9px
$font-size-03:                  10px
$font-size-04:                  11px
$font-size-05:                  12px
$font-size-06:                  13px
$font-size-07:                  17px
$font-size-08:                  20px
$font-size-09:                  23px
$font-size-10:                  47px
$font-size-company:             26px
$basefont:                      14px
$baseLineHeight:                24px
$smallfont: ($basefont - 2)
$largefont: ($basefont + 4)

// Fonts style
$font-alternatives:             'raleway', 'Helvetica Neue', 'Open Sans', 'sans-serif'
$font-default:                  'myriad-pro', $font-alternatives
$font-special:                  'Century Gothic', $font-alternatives
