//doc
  ---
  title: Buttons
  name: buttons
  category: Components
  ---

  We are using two types of buttons :
  <ul>
    <li>The type defaults of Bootstrap : to direct actions</li>
    <li>Flat button for secondaries action on a page or navigation between them</li>
  </ul>

  Button styles can be applied to any element. Typically you'll want to
  use either a `<button>` or an `<a>` element:



  ```html_example
  <button class="btn btn-default">Default</button>
  <a class="btn btn-primary" href="http://azendoo.com">
    Primary
  </a>
  ```

  Buttons                                                           | Modifier Class
  ----------------------------------------------------------------- | -----------------
  <button class="btn btn-default">Default</button>            | `btn btn-default`
  <button class="btn btn-primary">Primary</button>            | `btn btn-primary`
  <button class="btn btn-danger">Danger</button>              | `btn btn-danger`
  <button class="btn btn-success">Success</button>             | `btn btn-success`
  <button class="btn btn-flat btn-default">Default</button>   | `btn btn-default btn-flat `
  <button class="btn btn-flat btn-primary">Primary</button>   | `btn btn-primary btn-flat `
  <button class="btn btn-flat btn-danger">Danger</button>     | `btn btn-danger btn-flat `
  <button class="btn btn-flat btn-success">Success</button>    | `btn btn-success btn-flat`
  <div style="background: #333;padding: 5px;"><button class="btn btn-flat btn-white">White</button></div> | `btn btn-white btn-flat`

@mixin button-variant-azendoo
  border: 0
  border-radius: 4px
  &, &:active, &:focus
    outline: 0

.btn
  border-bottom-width: 0
  -webkit-font-smoothing: antialiased
  padding: 8px 16px

.btn.btn-default
  $active-color: #F7FAFC
  +button-variant-azendoo
  font-weight: $font-weight-semibold
  +box-shadow(inset 0px 0px 0px 1px rgba(0,0,0,0.20))
  background-color: $white
  color: $brand-primary
  &:hover, .open > &.dropdown-toggle, &:focus
    background-color: $active-color
  &:active, &.active,
    background-color: $active-color
    +box-shadow(inset 0px 0px 0px 1px rgba(0,0,0,0.20), inset 0 1px 2px rgba(0,0,0,.2))

.btn.btn-primary
  +button-variant-azendoo
  color: $white
  font-weight: $font-weight-semibold
  background: #0092CC
  +box-shadow(0px 1px 2px 0px rgba(0,0,0,0.05), inset 0px 0px 0px 1px rgba(0,0,0,0.10))
  border-radius: 4px
  &:hover, .open > &.dropdown-toggle, &:focus
    +box-shadow(0px 1px 2px 0px rgba(0,0,0,0.05), inset 0px 0px 0px 1px rgba(0,0,0,0.20))
  &:active, &.active
    background: #008DC5
  &.disabled, &[disabled]
    +opacity(.2)

.btn.btn-danger
  +box-shadow(inset 0 0 0 1px rgba(0,0,0,.1))
  font-weight: $font-weight-semibold
  border: 0
  background-color: $red-bright
  background-image: linear-gradient(-180deg, $red-bright 0%, #ED5E54 100%)
  text-shadow: 0 -1px 0 rgba(0,0,0,.2)
  &:hover, .open > &.dropdown-toggle, &:focus
    background-image: linear-gradient(-180deg, #ED5E54 0%, $red-bright 100%)
  &:active, &.active
    background-image: linear-gradient(0deg, #ED5E54 0%, $red-bright 100%)
  &.disabled, &[disabled]
    +opacity(.5)

.btn.btn-success
  +box-shadow(inset 0 0 0 1px rgba(0,0,0,.1))
  font-weight: $font-weight-semibold
  border: 0
  background-color: $green-bright
  background-image: linear-gradient(-180deg, $green-bright 0%, #A1D482 100%)
  text-shadow: 0 -1px 0 rgba(0,0,0,.2)
  &:hover, .open > &.dropdown-toggle, &:focus
    background-image: linear-gradient(-180deg, #A1D482 0%, $green-bright 100%)
  &:active, &.active
    background-image: linear-gradient(0deg, #A1D482 0%, $green-bright 100%)
  &, &:active, &:visited, &:hover
    color: $white
  &.disabled, &[disabled]
    +opacity(.5)

.btn.btn-flat
  background-color: transparent
  +box-shadow(none)
  background-image: none
  text-shadow: none
  line-height: inherit
  border: 1px solid transparent
  font-weight: 400

  &, &:hover, .open > &.dropdown-toggle, &:focus, &:active, &.active,
    background-image: none

  &.btn-default
    border-color: $gray-mid
    color: $gray-mid
    &:hover, &:active, &:focus
      color: $gray-mid
      background-color: $white

  &.btn-danger
    border-color: $red
    color: $red
    &:hover
      color: $red
      background-color: $white

  &.btn-success
    border-color: $green
    color: $green
    &:hover
      color: $green
      background-color: $white

  &.btn-primary
    border-color: $brand-primary
    color: $brand-primary
    &:hover
      color: $brand-primary
      background-color: $white

  &.btn-white
    border-color: $white
    color: $white
    &:hover
      color: $gray-dark
      background-color: $white

.btn-full-width
  width: 100%
  line-height: 25px
  text-align: left
  font-size: 16px
  i
    margin-right: .5em

// Icon inside button
.btn svg.azicon
  display: inline-block
  float: left
  fill: $white
  margin-top: -1px
  margin-right: 2px
