//doc
  ---
  title: Dropdowns
  name: dropdowns
  category: Azendoo - Components
  ---

$padding-border-to-icon: $spacing-xmd
$padding-border-to-text: 8px
.dropdown-menu > li.has-icon-right > a
  position: relative
  padding-right: $icons-azendoo-size-base + $padding-border-to-icon + $padding-border-to-text

.dropdown-menu > li.has-icon-left > a
  position: relative
  padding-left: $icons-azendoo-size-base + $padding-border-to-icon + $padding-border-to-text

.dropdown-menu > li > a > .is-icon-left
  position: absolute
  top: 9px
  left: $padding-border-to-icon

.dropdown-menu > li > a > .is-icon-right
  position: absolute
  top: 9px
  right: $padding-border-to-icon

.dropdown-menu > li.disabled > a:hover
  cursor: default
  svg.azicon
    fill: $brand-gray

.navbar-nav > li > .dropdown-menu
  margin-top: 1px
  border-top-right-radius: $border-radius-small
  border-top-left-radius: $border-radius-small

.dropdown-menu
  margin: 1px 0 0
  border-radius: $border-radius-small
  > li > a
    padding: $spacing-xmd
    svg.azicon
      fill: $gray-light
    &:focus
      color: $white
      background-color: $brand-primary
      .text-muted
        color: $white
      svg.azicon
        fill: $white

.dropdown-menu-item
  min-width: 300px
  white-space: normal

.dropdown-validation-form
  border-top: $brand-light solid 1px
  padding: $spacing-md

.dropdown-menu--datepicker
  width: 240px
  padding: 0

.dropdown-popover > .dropdown-menu > .popover.dropdown-menu--datepicker
  width: 240px

.dropdown-menu
  &--xs
    min-width: 180px
  &--sm
    min-width: 220px
  &--md
    min-width: 240px
  &--lg
    min-width: 300px

.dropdown-menu > .premium-dropdown-item > a
  min-width: 350px
  white-space: normal
