//doc
  ---
  title: Forms
  name: forms
  category: Azendoo - Components
  ---

  Add some sugar to the default boostrap form control

  ```html_example
    <textarea class="form-control" placeholder="What do you have in mind ?"></textarea>
  ```


.form-control
  -webkit-font-smoothing: antialiased
  padding: $spacing-sm $spacing-md
  &, &:focus
    +box-shadow(none)
