//doc
  ---
  title: Links
  name: links
  category: Azendoo - Components
  ---

  Default style of link is disabled.
  A link can force with the class .link or display a help link with the class
  .help-link

  Links                                        | Modifier Class
  -------------------------------------------- | -----------------
  <a href="#">Default</a>                      |
  <a class="link" href="#">Link</a>            | `link`
  <a class="link-help" href="#">Help link</a>  | `link-help`

a
  color: $brand-primary
  text-decoration: none
  &:visited, &:active
    color: $brand-primary
  &:hover
    text-decoration: underline

a.link
  text-decoration: underline

a.link-help
  color: $gray-light
  border-bottom: 1px dashed $gray-light
  &:hover
    text-decoration: none

a.link--dark
  color: $gray-dark
  &:visited, &:active
    color: $gray-dark

a.link.link--white
  color: $gray-lighter
  border-bottom: 1px dotted $gray-lighter
  text-decoration: initial
  +transition(color .3s ease)
  &:hover
    color: $white
    border-bottom: 1px solid $white

a.link--action
  display: inline-block
  color: $link-action-color
  font-size: $font-size-small
  font-weight: $font-weight-semibold
  .azicon-wrapper
    float: left
  svg.azicon
    fill: $link-action-color
    margin-right: 2px
    pointer-events: none
  &:hover
    color: $brand-primary
    svg.azicon
      fill: $brand-primary
  &:hover, &:active
    text-decoration: initial

.list-inline--actions
  margin: 0
  a.link--action
    line-height: $link-action-height
  > li:not(:last-child)
    padding: 0
    margin: 0 $spacing-md 0 0
  > li:first-child
    margin-left: -2px
  > li:last-child
    margin-right: -($spacing-lg/2)
