//doc
  ---
  title: Well
  name: Well
  category: Azendoo - Components
  ---

  Display well block of content in the html page

  ```html_example
    <div class="well">
      The well displayed content example
    </div>
  ```


.well
  min-height: 20px
  padding: $well-padding
  margin-bottom: 10px
  background-color: $white
  +box-shadow(0px 4px 5px 1px rgba(109, 109, 109, 0.1))
  border-radius: $border-radius-base

.well--no-padding
  padding: 0

.well--layout
  min-height: 100%
  overflow: visible
  margin-bottom: $spacing-lg

.well--loading
  height: 100%
  min-height: 400px
