//doc
  ---
  title: Colors
  name: color
  category: Base
  ---

  There are three main color : a blue, dark grey and simple white.
  As secondaries colors, purple, green, dark blue and yellow are available

  <h3>Primary colors :</h3>
  <div class="row">
    <div class="col-xs-4">
      <div class="az-doc-background-block background-blue"></div>
      <code>background-blue : #1e8bc6</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-background-block background-white"></div>
      <code>background-white : #ffffff</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-background-block background-midgrey"></div>
      <code>background-midgrey : #434343</code>
    </div>
  </div>

  <br/>

  <h3>Secondary colors :</h3>
  <div class="row">
    <div class="col-xs-4">
      <div class="az-doc-background-block background-green"></div>
      <code>background-green : #27AD8D</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-background-block background-red"></div>
      <code>background-red : #AD1A26</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-background-block background-grey"></div>
      <code>background-grey : #666666</code>
    </div>
  </div>

.background-blue
  background-color: $brand-primary

.background-white
  background-color: $white

.background-whitesmoke
  background-color: $gray-lighter

.background-midgrey
  background-color: $color-midGrey

.background-lightgrey
  background-color: $color-lightGrey

.background-dark
  background-color: $color-dark

.background-green
  background-color: $color-green

.background-red
  background-color: $color-red

.background-grey
  background-color: $color-grey

.background-purple
  background-color: $color-purple
