//doc
  ---
  title: Pages Form
  name: pageform
  category: Pages
  ---

  There is one type of page form visible on our subects list of medias : </br>
  - simple to accelerate the user experience.

  ```html_example
    <div class="example-padding">
      <div class="page-form">
        <div class="search-container input-group pull-left">
          <div class="left-box-img input-group-addon">
            <i class="fa fa-search"></i>
          </div>
          <input name="search" type="text" placeholder="Search" class="form-control">
        </div>
        <div class="dropdown-list pull-left">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Dropdown-list <span class="caret"></span>
          </a>
        </div>
        <div class="filters pull-left">
          <ul>
            <li><span class="badge badge-primary">filter-1</span></li>
            <li><span class="badge">filter-2</span></li>
          </ul>
        </div>
        <div class="pull-right">
          <a class="btn btn-success">
            + new-btn
          </a>
        </div>
        <div class="list-options-example pull-right">
          <i class="fa fa-sort-alpha-asc"></i>
        </div>
      </div>
    </div>
  ```

.example-padding
  padding-bottom: 35px

.page-form
  .dropdown-list, .filters ul, .list-options-example
    line-height: 30px

  .search-container
    width: 200px
    margin-right: 30px

  .input-group
    .left-box-img
      color: $color-darkGrey
      background-color: $white
      border-radius: 16px 0 0 16px
      padding: 4px 8px

    input[name="search"]
      border-left: 0
      border-radius: 0 16px 16px 0

    input.form-control
      background-color: $white
      box-shadow: none
      padding: 4px 8px
      height: 30px

  a.dropdown-toggle
    cursor: pointer

  ul.dropdown-menu
    top: initial
    left: initial

  .dropdown-menu li > a
    color: $color-black

  .dropdown-list
    margin-right: 30px
    a
      text-decoration: none
      color: $color-lightGrey

  .filters
    ul
      display: inline-box
    li
      margin-right: 5px
      float: left
      &:hover
        cursor: pointer

  .list-options-example
    cursor: pointer
    padding-right: 40px
