//doc
  ---
  title: Navbar
  name: navbar
  category: Pages
  ---

  The page header navbar display tabs to navigate within a page

  ```html_example
    <div class="page-header-navigation">
      <ul>
        <li class="active"><a href="javascript:void(0)">Section 1</a></li>
        <li><a href="javascript:void(0)">
          <i class="fa fa-pencil"></i>
          Section 2</a></li>
        <li><a href="javascript:void(0)">Section 3</a></li>
        <li><a href="javascript:void(0)">Section 4</a></li>
      </ul>
    </div>
  ```

  ```html_example
    <div class="page-header-navigation page-header-navigation-small">
      <ul>
        <li class="active"><a href="javascript:void(0)">Section 1</a></li>
        <li><a href="javascript:void(0)">Section 2
          <i class="fa fa-pencil"></i>
          </a></li>
        <li><a href="javascript:void(0)">Section 3</a></li>
        <li><a href="javascript:void(0)">Section 4</a></li>
      </ul>
    </div>
  ```

  ```html_example
    <div class="page-header-navigation page-header-navigation-light">
      <ul>
        <li class="active"><a href="javascript:void(0)">Section 1</a></li>
        <li><a href="javascript:void(0)">Section 2
          <i class="fa fa-pencil"></i>
          </a></li>
        <li><a href="javascript:void(0)">Section 3</a></li>
        <li><a href="javascript:void(0)">Section 4</a></li>
      </ul>
    </div>
  ```

.page-header-navigation
  background-color: $color-darkGrey
  margin-bottom: $line-height-computed

.modal-body .page-header-navigation
  background-color: transparent
  > ul > li, > ul li.dropdown
    > a
      color: $color-darkGrey

.page-header-navigation.page-header-navigation-small
  > ul > li, > ul li.dropdown
    border-bottom: 4px solid transparent
    margin: 0 10px
    &:hover, &.active
      border-bottom: 4px solid $brand-primary
    > a
      font-size: $font-size-base
      padding: 0 5px
      line-height: 30px

.page-header-navigation
  > ul
    display: table
    margin: 0 auto
    padding: 0

    > li, > ul li.dropdown
      display: inline-block
      border-bottom: 5px solid transparent
      margin: 0 10px
      &:hover, &.active
        border-bottom: 5px solid $brand-primary
      > a
        font-size: $font-size-base + 2
        color: $white
        padding: 3px 24px
        line-height: 40px
        text-decoration: none
        display: block
        .caret
          border-top-color: $white
          margin-left: 5px
          margin-top: 0px
        i
          margin: 0 5px

.page-header-navigation.page-header-navigation-light
  background-color: $white
  > ul
    display: inline-block
    > li, > ul li.dropdown
      margin: 0 30px 0 10px
      border-bottom: 3px solid transparent
      &:hover, &.active
        border-bottom: 3px solid $brand-primary
        > a
          color: $color-darkGrey
      > a
        padding: 3px 10px
        color: $color-grey
        line-height: 30px

.page-aside
  .btn-aside
    width: 100%
    margin-bottom: $line-height-computed
    line-height: 25px
    i
      font-size: 18px
      margin-right: 10px
    i.icon-caret-down
      margin-right: .3em
      padding-top: 3px

    &.btn, .btn:first-child
      font-size: 16px

    &, & > .btn
      text-align: left

    &.btn, & >.btn
      background-color: rgba(238,238,238,.3)
