//doc
  ---
  title: Colors
  name: color
  category: Azendoo - Base
  ---

  There are three main color : a blue, dark grey and simple white.
  As secondaries colors, purple, green, dark blue and yellow are available

  <h3>Primary colors :</h3>
  <div class="row">
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-blue"></div>
      <code>bg-blue : #1e8bc6</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-white"></div>
      <code>bg-white : #ffffff</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-midgrey"></div>
      <code>bg-midgrey : #434343</code>
    </div>
  </div>

  <br/>

  <h3>Secondary colors :</h3>
  <div class="row">
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-green"></div>
      <code>bg-green : #27AD8D</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-red"></div>
      <code>bg-red : #AD1A26</code>
    </div>
    <div class="col-xs-4">
      <div class="az-doc-bg-block bg-grey"></div>
      <code>bg-grey : #666666</code>
    </div>
  </div>

.bg-blue
  background-color: $brand-primary

.bg-blue-bright
  background-color: $blue-bright

.bg-blue-light
  background-color: $blue-light

.bg-white
  background-color: $white

.bg-whitesmoke
  background-color: $gray-lighter

.bg-midgrey
  background-color: $color-midGrey

.bg-lightgrey
  background-color: $color-lightGrey

.bg-dark
  background-color: $color-dark

.bg-green
  background-color: $color-green

.bg-red
  background-color: $color-red

.bg-grey
  background-color: $color-grey

.bg-purple
  background-color: $color-purple
