//doc
  ---
  title: Icons
  name: icons
  category: Azendoo - Base
  ---

  TODO : Examples

svg.azicon
  display: block
  +square($icons-azendoo-size-base)

svg.azicon.azicon--small
  +square($icons-azendoo-size-small)
