.u-margin-bottom-content
  margin: 0 0 $spacing-md !important

.u-margin-right-content
  margin-right: $spacing-md !important

.u-inline-block
  display: inline-block !important

.u-break-word
  word-wrap: break-word
  white-space: normal

.u-text-overflow
  +text-overflow

.u-text-small
  font-size: $font-size-small

.u-bold
  font-weight: $font-weight-bold

.u-semibold
  font-weight: $font-weight-semibold

.u-user-select-none
  +user-select(none)

.u-pull-left
  float: left !important

.u-pull-right
  float: right !important

.u-media-body,
.u-media
  overflow: visible
  zoom: 1

.media:first-child
  margin-top: 0

.u-media-body,
.u-media,
.u-media > .u-pull-left
  +clearfix

.u-media > .u-pull-left
  margin-right: $line-height-computed / 2

.u-media > .u-pull-right
  margin-left: $line-height-computed / 2

.panel--no-border
  border: 0

.margin-block-bottom
  margin: 0 0 $line-height-computed !important

.dropdown-menu--no-border
  border: 0

.navbar-pills
  // navbar pills are 42 px height
  +navbar-vertical-align(42px)

[class^="icon-"],
[class*=" icon-"]
  line-height: inherit

[class^="icon-"].pull-left, [class*=" icon-"].pull-left
  margin-right: .6em
  vertical-align: middle
