// COlORS
$gray-darker:           #111
$gray-dark:             #313131
$gray-mid:              #535353
$gray:                  #666
$gray-light:            #8E939B
$gray-soft:             #D5D5D5
$gray-softer:           #D9DEE1
$gray-lighter:          #EDEDED
$gray-lightest:         #f0f0f0
$white:                 #ffffff

$gray-lightest20:       rgba($gray-lightest, 0.2)
$gray-lightest30:       rgba($gray-lightest, 0.3)
$gray-lightest40:       rgba($gray-lightest, 0.4)

$blue:                  #1E8BC6
$blue-bright:           #BDE6FB
$blue-light:            #F2F8FB
$turquoise:             #42AFE3

$green:                 #27AD8D
$green-bright:          #97CD76

$red:                   #AD1A26
$red-bright:            #ED6C63

$pink:                  #FF6D6D

$yellow:                #FFCC44
$yellow-bright:         #FCE473

$purple:                #847AB9
$orange:                #F68B38

$status-active-color:       #7ED321
$status-away-color:         #F5A623
$status-disconnected-color: #B9B9B9

$brand-primary:         $turquoise
$brand-success:         $green
$brand-info:            lighten($blue, 5%)
$brand-warning:         $yellow
$brand-danger:          $red
$brand-gray:            #75848D
$brand-bright:          #BDE6FB
$brand-soft:            #CEDBE1
$brand-light:           #E9EFF2

=box-shadow-inset-gray
  +box-shadow(inset 0 -1px 0 rgba(0,0,0,.1))

$spacing-xxs   : 2px
$spacing-xs    : 4px
$spacing-sm    : 6px
$spacing-md    : 10px
$spacing-xmd   : 12px
$spacing-lg    : 14px
$spacing-xlg   : 20px
$spacing-jumbo : 40px


$font-family-sans-serif  : 'Source Sans Pro', 'Helvetica', 'Open Sans', 'arial', 'sans-serif'
$headings-font-family    : $font-family-sans-serif

$font-weight-light     : 300
$font-weight-normal    : 400
$font-weight-semibold  : 600
$font-weight-bold      : 700

$font-size-smaller     : 12px
$font-size-small       : 13px
$font-size-base        : 14px
$font-size-base-plus   : 15px

$line-height-smaller   : 1.167
$line-height-small     : 1.154

$state-success-text    : $green
$state-warning-text    : #F68B38 // orange

$border-radius-small   : 2px
$border-radius-base    : 3px

$link-color            : $brand-primary
$link-hover-color      : $brand-primary

$navbar-height                      : 50px
$navbar-padding-vertical            : 9px
$navbar-padding-horizontal          : $spacing-lg

$navbar-default-bg                  : $white
$navbar-border-radius               : 0

$navbar-default-toggle-hover-bg     : $gray-lightest
$navbar-default-toggle-border-color : $white
$navbar-default-toggle-icon-bar-bg  : $gray-light

$navbar-default-link-color          : $gray-light
$navbar-default-link-active-color   : $gray-light
$navbar-default-link-active-bg      : $gray-lightest
$navbar-default-link-hover-bg       : $gray-lightest

$dropdown-link-hover-color : $gray-dark
$dropdown-link-hover-bg    : $brand-light
$dropdown-border           : $gray-soft

$input-height-base       : 32px
$input-color-placeholder : $gray-light
$input-color             : $gray-dark
$input-border-focus      : $blue
$input-border            : $gray-soft
$input-border-radius     : $border-radius-small
$input-bg                : $white

$popover-arrow-width       : 4px
$popover-arrow-outer-width : 5px
$popover-title-bg          : $white
$popover-border-color      : $white
$popover-arrow-outer-color : rgba(0, 0, 0, .2)

$modal-inner-padding    : $spacing-lg
$modal-title-padding    : $spacing-lg
$modal-sm               : 520px
$modal-backdrop-bg      : #334149
$modal-backdrop-opacity : .8

$panel-body-padding      : $spacing-lg

$background-color    : $brand-light
$dropdown-link-color : $gray-mid

$link-action-color   : $brand-gray

// Bootrap variables import
@import ../vendor/bootstrap-sass-twbs/assets/stylesheets/bootstrap/variables
@import ../vendor/bootstrap-sass-twbs/assets/stylesheets/bootstrap/mixins

// Azendoo specific sizing
$page-navbar-height  : 36px
$page-navbar-padding : 3px

$grid-gutter-width    : $spacing-lg
$well-padding         : $spacing-lg
$line-height-computed : $spacing-lg

$icons-azendoo-size-base   : 24px
$icons-azendoo-size-small  : 18px
$icons-azendoo-size-xsmall : 14px

$user-avatar-xxsmall-size : 16px
$user-avatar-xsmall-size  : 20px
$user-avatar-small-size   : 24px
$user-avatar-base-size    : 30px
$user-avatar-large-size   : 38px
$user-avatar-xlarge-size  : 90px
$user-avatar-xxlarge-size : 120px

$link-action-height      : $icons-azendoo-size-base

// Specific App Colors - Try to avoid
$modal-background-color: $white
$color-task-selected:    #DAE2E6
