//doc
  ---
  title: Separator
  name: separator
  category: Azendoo - Pages
  ---

  ```html_example
    <h3 class="separator">
      Separator example
    </h3>
  ```

  Line separator :

  ```html_example
    <hr/>
  ```


h2, h3
  &.separator
    text-transform: uppercase
    font-weight: 400
    color: $gray-mid
    border-bottom: 1px solid $gray-mid
    margin-top: $line-height-computed / 2

hr
  border-top-color: $gray-soft
